<div id = "info_div">
  <p id="notice"><%= notice %></p>

  <br/>

  <p>
    <h1> Allgemeine Information </h1>
    <hr>
  </p>
  <br/>
  <p>
   <h2> <%= @profile.firstName %> <%= @profile.name %></h2>
  </p>

  <p>
    <h2><%= @profile.birthday %></h2>
  </p>
  <p>
    <h2><%= @profile.marialStatus %></h2>
  </p>

  <p>
    <strong>Telefon:</strong>
    <h2><%= @profile.telefon %></h2>
  </p>

  <br/>

  <p>
    <h1>Addresse:</h1>
    <hr>
  </p>

  <br/>

  <p>
    <h2><%= @profile.address.street %></h2>
  </p>

  <p>
    <h2><%= @profile.address.city %>, <%= @profile.address.zip %></h2>
  </p>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Dowmload all', pdf_download_path(@profile)  %> |
  <%= link_to 'Save all', pdf_save_path(@profile)  %> |
  <%= link_to 'CV download', pdf_cvs_download_path(@profile)  %> |
  <%= link_to 'CV save', pdf_cvs_save_path(@profile)  %> |
  <%= link_to 'AL download', pdf_als_download_path(@profile)  %> |
  <%= link_to 'AL save', pdf_als_save_path(@profile)  %> |

  <%= link_to 'Delete', profile_path, method: :delete %>
</div>

<div id = "image_div">
  
  <%= image_tag @profile.avatar.url(:medium) %><br>
  <%= image_tag @profile.signature.url(:medium) %>
</div>


