<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address.street %>
</p>

<p>
  <strong>Marialstatus:</strong>
  <%= @profile.marialStatus %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @profile.telefon %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
