<p id="notice"><%= notice %></p>

<br>

<h1><%= I18n.t("listing_works")%></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t("from")%></th>
      <th><%= I18n.t("to")%></th>
      <th><%= I18n.t("desc")%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.time_start %></td>
        <td><%= work.time_end %></td>
        <td><%= truncate(work.desc, 25) %></td>
        <td><%= link_to I18n.t("edit"), edit_work_path(work) %></td>
        <td><%= link_to I18n.t("delete"), work, method: :delete, data: { confirm: I18n.t("msg_confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if @works.count < 6 %>
  <%= link_to I18n.t("new_work"), new_work_path %>
<% end %>