<div id = "download_list">
	<ul>

		<% if current_user.profile.nil? %>

			<% redirect_back root_path %>

		<% else %>
		
			
				<% if !current_user.profile.loa.nil? %>
					<% unless @incomplete_attributes.any? %>    

					<li>
						<%= link_to image_tag( 'PDF_File_normal.jpg', :size => "75x75"), pdf_als_download_path(current_user.profile)  %>
						<%= link_to image_tag( 'email.jpg', :size => "75x75"), pdf_save_path(current_user.profile)  %>
						<h3><%= I18n.t("loa")%> (<%= I18n.t("ready_to_download")%>!)</h3>
						<h4><%= I18n.t("loa_desc")%></h4>
					</li>

					<% else %>

					<li>

						<%= link_to image_tag( 'cant_download.jpg', :size => "75x75")  %>
						<%= link_to image_tag( 'bad_email.jpg', :size => "75x75")  %>
						<h3><%= I18n.t("loa")%> (<%= I18n.t("problem")%>!)</h3>
						<h4><u><%= I18n.t("fill_fields")%></u></h4>
						<% @incomplete_attributes.each do |i| %>
							<h4><%= link_to i, edit_profile_path(current_user.profile) %></h4>
						<% end %>
					</li>
					<% end %>
				<% else %>
				<li>
						<%= image_tag( 'cant_download.jpg', :size => "75x75")%>
						<%= image_tag( 'bad_email.jpg', :size => "75x75")%>
						<h3><%= I18n.t("loa")%> (<%= I18n.t("problem")%>!)</h3>
						<h4><%= link_to "Please create first a Letter of Application!", new_loa_path %></h4>
					</li>	
				<% end %>

			
		   

			<% unless @incomplete_attributes.any? %>
			<li>
				<%= link_to image_tag( 'PDF_File_normal.jpg', :size => "75x75"), pdf_cvs_download_path(current_user.profile)  %>
				<%= link_to image_tag( 'email.jpg', :size => "75x75"), pdf_als_save_path(current_user.profile)  %>
				<h3><%= I18n.t("cv")%> (<%= I18n.t("ready_to_download")%>!)</h3>
				<h4><%= I18n.t("cv_desc")%></h4>
			</li>
			<% else %>

			<li>
				<%= image_tag( 'cant_download.jpg', :size => "75x75")  %>
				<%= image_tag( 'bad_email.jpg', :size => "75x75")  %>
				<h3><%= I18n.t("cv")%> (<%= I18n.t("problem")%>!)</h3>
				<h4><u><%= I18n.t("fill_fields")%></u></h4>

				<% @incomplete_attributes.each do |i| %>
				<h4><%= link_to i, edit_profile_path(current_user.profile) %></h4>
				<% end %>

			</li>

			<% end %>
			<% end %>

			<% unless !@incomplete_attributes.any? || current_user.profile.loa.nil?%>
				<li>
					<%= link_to image_tag( 'cant_download.jpg', :size => "75x75")  %>
					<%= image_tag( 'bad_email.jpg', :size => "75x75")  %>
					<h3>Both (Problem!)</h3>
					<h4>This is your letter of application and CV</h4>
				</li>
			<% else %>
				<li>
					<%= link_to image_tag( 'PDF_File_normal.jpg', :size => "75x75"), pdf_download_path(current_user.profile)  %>
					<%= link_to image_tag( 'email.jpg', :size => "75x75"), pdf_save_path(current_user.profile)  %>
					<h3>Both (Ready to download!)</h3>
					<h4>This is your letter of application and CV</h4>
				</li>

			<% end %>
	</ul>
</div>