<%= form_for(@loa) do |f| %>
  <% if @loa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loa.errors.count, "error") %> prohibited this Letter of Application from being saved:</h2>

      <ul>
      <% @loa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <table>
  <tr>
    <td><strong><%= f.label :to %></strong></td>
    <td><%= f.text_field :to, :maxlength => 60 %></td>  

  </tr>
  <tr>
    <td><strong><%= f.label :street %></strong></td>
    <td> <%= f.text_field :street, :maxlength => 60 %></td>
  </tr>
  <tr>
    <td><strong><%= f.label :city %></strong></td>
    <td><%= f.text_field :city, :maxlength => 60 %></td>
  </tr>
  <tr>
    <td><strong><%= f.label :zip %></strong></td>
    <td><%= f.text_field :zip, :maxlength => 60 %></td>
  </tr>
  <tr>
    <td><strong><%= f.label :subject %></strong></td>
    <td><%= f.text_field :subject, :maxlength => 100 %></td>
  </tr>
  <tr>
    <td><strong><%= f.label :what %></strong></td>
    <td> <%= f.text_area :what , :cols => 50, :rows => 15, :maxlength => 1600 %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
