<p id="notice"><%= notice %></p>

<br>

<h1><%= I18n.t("loa")%></h1>

<table>
  <tr>
    <td><strong><%= I18n.t("to2")%></strong></td>
    <td><%= @loa.to %></td>
  </tr>
  <tr>
    <td><strong><%= I18n.t("address")%></strong></td>
    <td><%= @loa.street %>, <%= @loa.city %>, <%= @loa.zip %></td>
  </tr>
  <tr>
    <td><strong><%= I18n.t("subject")%></strong></td>
    <td><%= @loa.subject %></td>
  </tr>
  <tr>
    <td><strong><%= I18n.t("what")%></strong></td>
    <td width="400px"><%= @loa.what %></td>
  </tr>
</table>

<%= link_to I18n.t("edit"), edit_loa_path(@loa) %> |
<%= link_to I18n.t("delete"), loa_path, method: :delete %>

