<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t("time_start") %><br>
    <%= f.date_select :time_start, :start_year => 1900, :end_year => 2100 %>
  </div>
  <div class="field">
    <%= f.label I18n.t("time_end") %><br>
    <%= f.date_select :time_end , :start_year => 1900, :end_year => 2100%>
  </div>
  <div class="field">
    <%= f.label I18n.t("desc") %><br>
    <%= f.text_field :desc , :cols => 100, :rows => 1, :maxlength => 60 %>
  </div>
  <div class="field">
    <%= f.hidden_field :type, :value => "Course" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
