<p id="notice"><%= notice %></p>

<br>

<h1><%= I18n.t("listing_knowledges")%></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t("name")%></th>
      <th><%= I18n.t("desc")%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @knowledges.each do |knowledge| %>
      <tr>
        <td><%= knowledge.name %></td>
        <td><%= truncate(knowledge.desc, 25) %></td>
        <td><%= link_to I18n.t("edit"), edit_knowledge_path(knowledge) %></td>
        <td><%= link_to I18n.t("delete"), knowledge, method: :delete, data: { confirm: I18n.t("msg_confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if @knowledges.count < 4 %>
  <%= link_to I18n.t("new_Knowledge"), new_knowledge_path %>
<% end %>