<p id="notice"><%= notice %></p>

<br>

<h1>Listing educations</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <td><%= education.time_start %></td>
        <td><%= education.time_end %></td>
        <td><%= truncate(education.desc, 25) %></td>
        <td><%= link_to 'Edit', edit_education_path(education) %></td>
        <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education', new_education_path %>
