<p id="notice"><%= notice %></p>

<br>

<h1><%= I18n.t("listing_edu")%></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t("from")%></th>
      <th><%= I18n.t("to")%></th>
      <th><%= I18n.t("desc")%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <td><%= I18n.l education.time_start %></td>
        <td><%= I18n.l education.time_end %></td>
        <td><%= truncate(education.desc, 25) %></td>
        <td><%= link_to I18n.t("edit"), edit_education_path(education) %></td>
        <td><%= link_to I18n.t("delete"), education, method: :delete, data: { confirm: I18n.t("msg_confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if @educations.count < 4 %>
  <%= link_to I18n.t("new_education"), new_education_path %>
<% end %>