<p id="notice"><%= notice %></p>

<p>
  <strong>Time start:</strong>
  <%= @place.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @place.time_end %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @place.desc %>
</p>

<p>
  <strong>Type:</strong>
  <%= @place.type %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
