<!DOCTYPE html>
<html>
<head>
	<title>BP</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id = "container">
		
		<div id = "header">
			<h1><%=I18n.t("cv_creator")%></h1>
			
		</div>

		<div id = "content">
			<div id = "menu_div">
				<div id='cssmenu'>
					<ul>
						<li class='active'><%= link_to  I18n.t("home"), root_path %></li>
						<li class='has-sub'>
							<% if !current_user.nil? %>
								<% if current_user.profile.nil? %>
									<%= link_to I18n.t("profile"), new_profile_path %>
								<% else %>
									<%= link_to I18n.t("profile"), profile_path(current_user.profile) %>
								<% end %>
							<% end %>
							<ul>
								<li><%= link_to I18n.t("school"), schools_path %></li>
								<li><%= link_to I18n.t("education"), educations_path %></li>
								<li><%= link_to I18n.t("work"), works_path %></li>
								<li><%= link_to I18n.t("course"), courses_path %></li>
								<li class='last'><%= link_to I18n.t("knowledge"), knowledges_path %></li>
							</ul>
						</li>

						<% unless current_user.nil? %>
							<% unless current_user.profile.nil? or current_user.profile.loa.nil? %>
									<li><%= link_to I18n.t("loa_menu"), loa_path(current_user.profile.loa) %></li>
								<% else %>
									<li><%= link_to I18n.t("loa_menu"), new_loa_path %></li>
							<% end %>
						<% end %>

						<li><%= link_to I18n.t("dtd"), download_path %></li>
						<li><%= link_to I18n.t("about"), about_path %></li>
						<li class='last'><%= link_to I18n.t("contact"), contact_path %></li>
					</ul>
				</div>
			</div>
			<div id = "content_text">
				<!-- <p class="notice"><%= notice %></p> -->
				<p class="alert"><%= alert %></p>

				<%= yield %>

			</div>
		</div>

		<div id="footer">
			&copy 2013 |
			<% if user_signed_in? %>
			<%= link_to I18n.t("logout"), destroy_user_session_path, method: :delete%>
			<% else %>
			<%= link_to I18n.t("login"), new_user_session_path %>
			<% end %>&nbsp
			<div style="float:right">
			<%= I18n.t("language")%>:
			<%= link_to_unless I18n.locale == :en, I18n.t("english"), locale: :en %>
			|
			<%= link_to_unless I18n.locale == :de, I18n.t("german"), locale: :de %>	
			</div>
		</div>
	</div>
</body>
</html>
